@takamol:registry=https://gitlab.qiwa.tech/api/v4/packages/npm/
//gitlab.qiwa.tech/api/v4/packages/npm/:_authToken=XxwFbGHdKoKKJ7NaEDDZ
//gitlab.qiwa.tech/api/v4/projects/:_authToken=XxwFbGHdKoKKJ7NaEDDZ
engine-strict = true
save-exact = true